
@model MVC_Assignment.ViewModels.PeopleViewModel



@if(@Model != null){
<div class="container">
    <div class="border p-2">
        <div class="row">
            <div class="col-3">
                @Html.DisplayNameFor(model => model.NewPerson.Name)
            </div>
            <div class="col-3">
                @Html.DisplayNameFor(model => model.NewPerson.PhoneNumber)
            </div>
            <div class="col-3">
                @Html.DisplayNameFor(model => model.NewPerson.City)
            </div>
        </div>
     
         @foreach(var item in Model.People)
          {
            <div class="row">
                <div class="col">
                        @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                </div>
                <div class="col">
                        @Html.DisplayFor(modelItem => item.City)
                </div>
                <div class="col">
                        @Html.ActionLink("Delete", "DeletePerson", "Data", new {  id=item.Id  })
                </div>
            </div>
          }
   </div>
</div>
}
else{
    <p>No results found.</p>
}