@model MVC_Assignment.ViewModels.PeopleViewModel

@{
    ViewData["Title"] = "Data Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


<form class="container" method="post" asp-action="FilterPersonsOnCity">

    <label>Search for a city or name...</label><br />

    <input type="text" name="user_input" />

    <input type="submit" />

</form>

<br />

<form class="container" method="post" asp-action="AddPerson">

    <label>Create new user...</label><br />
    <label>
        @Html.DisplayNameFor(model => model.NewPerson.Name)
    </label><br />
    <input type="text" asp-for="NewPerson.Name"/><br />

    <label> 
        @Html.DisplayNameFor(model => model.NewPerson.PhoneNumber)
    </label><br />
    <input type="number" asp-for="NewPerson.PhoneNumber" /><br />

    <label>
       @Html.DisplayNameFor(model => model.NewPerson.City)
    </label><br />
    <input type="text" asp-for="NewPerson.City"/><br />
    
    <input type="submit"/>

</form>

<p>@ViewBag.Statement</p>


@if (@Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NewPerson.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewPerson.PhoneNumber)
                </th>
                <th> 
                    @Html.DisplayNameFor(model => model.NewPerson.City)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.People)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "DeletePerson", "Data", new {  id=item.Id  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else{
    <p>No results found.</p>
}

<p>
    <a asp-controller="Data" asp-action="DataView">Refresh table</a>
</p>
