@model MVC_Assignment.ViewModels.PeopleViewModel

@{
    ViewData["Title"] = "Data Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>



<form class="container" method="post" asp-action="FilterPersonsOnCity">

    <label>Search for a city or name...</label><br />

    <input type="text" name="user_input" />

    <input type="submit" />

</form>

<br />

<form class="container" method="post" asp-action="AddPerson">

    <label>Create new user...</label><br />
    <label>
        @Html.DisplayNameFor(model => model.NewPerson.Name)
    </label><br />
    <input type="text" asp-for="NewPerson.Name"/><br />

    <label> 
        @Html.DisplayNameFor(model => model.NewPerson.PhoneNumber)
    </label><br />
    <input type="number" asp-for="NewPerson.PhoneNumber" /><br />

    <label>
       @Html.DisplayNameFor(model => model.NewPerson.City)
    </label><br />
    <input type="text" asp-for="NewPerson.City"/><br />
    
    <input type="submit"/>

</form>

<p>@ViewBag.Statement</p>

<partial name="~/Views/Shared/_TableView.cshtml" />

<p>
    <a asp-controller="Data" asp-action="Index">Refresh table</a>
</p>
